{
}

call.tgcall.us {
  encode gzip
  root * /srv

  # WebSocket ??????????????????
  @ws path /ws /ws/*
  handle @ws {
    reverse_proxy signal:8081 {
      transport http {
        versions 1.1
      }
    }
  }

  # API
  handle /api/* {
    reverse_proxy api:8080
  }

  # SPA-??????????????: /join ?? ?????? ?????? ?????? -> /index.html
  @join path /join /join/*
  handle @join {
    rewrite * /index.html
    file_server
  }

  # ?????????????????? ??????????????
  file_server
}
